<h1 class="edit-h1">Add a Child</h1>

<%= render 'child_restriction', child: @child, user: @user, given_url: children_path(@user) %>

<%= link_to 'Go Back', '/users/' + current_user.id.to_s, :class=>"btn btn-primary edit-back" %>
