<h1>Statistics of <%= @child.name %></h1>

<p>
  <strong>Total time watching series:</strong>
  <%= @total_time %>
</p>

<% @time_per_genre.each do |key, value| %>
<p>
  <strong>Time watching <%= key %>: </strong>
  <%= value %>
</p>
<% end %>
