<h1>Editing Chapter</h1>

<%= render 'form2', chapter: @chapter, session: @season %>

<%= link_to 'Show', series_session_chapter_path(@season.serie.id, @season.id, @chapter) %> |
<%= link_to 'Back',  series_session_path(@season.serie.id, @season) %>
