<h1>Editing Chapter</h1>

<%= render 'form', chapter: @chapter %>

<%= link_to 'Show', series_session_chapter_path(@season.serie.id, @season.id, @chapter) %> |
<%= link_to 'Back',  '/series/' + @season.serie.id.to_s %>
