/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  padding-top: 50px; }

.navbar-right{
  margin-right: 20px;
}
// HOME
.row {
  text-align: center;
  padding: 10px;
  padding-top: 0;
}

.thumbnail {
  margin: 10px 10px 10px 0;
  padding: 0 15px 0 15px;
  border: 1px solid gray;
  border-radius: 5px;
}

.finder {
  float: left;
  display: inline;
  position: relative;
  margin-left: 1%;
  width: 18%;
  padding: 0;
  .search-form {
    padding: 10%;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 10px;
  }
  .form-group{
    display: block;
  }
}

.content-section-series {
  float: left;
  width: 79%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
// NEW USER

.new-user {
  margin: 10% 30% 0 30%;
  padding: 50px 100px 50px 100px;
  border: 1px solid gray;
  border-radius: 20px;
}

// profile
#user-photo {
  text-align: left;
}
#user-action {
  text-align: right;
  padding-top: 25px;
}
.user-serie{
  li {
    text-align: left;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 0 10px 0 10px;
  }
}

